<ion-header>
  <ion-toolbar>
    <ion-title>ejercicio03</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Precio Unitario
      </ion-col>
      <ion-col>
        Cantidad
      </ion-col>
      <ion-col>
        Subtotal
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let c of carro">
      <ion-col>
        {{c.item}}
      </ion-col>
      <ion-col>
        {{c.price}}
      </ion-col>
      <ion-col>
        {{c.quantity}}
      </ion-col>
      <ion-col>
        {{c.price * c.quantity}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <strong>{{total}}</strong>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input clearInput [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio Unitario</ion-label>
      <ion-input clearInput [(ngModel)]="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input clearInput [(ngModel)]="cantidad"></ion-input>
    </ion-item>
    <br>
    <ion-button
      (click)="addItem()"
      expand="full">
      Guardar
    </ion-button>
  </div>

</ion-content>
